[user]
	name = Raphael Thomazella
	email = thomazella9@gmail.com
	signingkey = D600E88A0C5FE062
[core]
	editor = emacs
	compression = -1
	excludesfile = /Users/vamac/.gitignore_global
[commit]
	gpgSign = true
[fetch]
	prune = true
[rebase]
	missingCommitsCheck = error
[pull]
	rebase = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
