[user]
	name = Raphael Thomazella
	email = thomazella9@gmail.com
	signingkey = D600E88A0C5FE062
[core]
	editor = emacs
	compression = 2
	excludesfile = /Users/vamac/.gitignore_global
[commit]
	gpgSign = true
[fetch]
	prune = true
